<h1>New Product</h1>
<%if user_signed_in?%>
  <%= render 'form', product: @product %>
<% else %>
  <p><%= link_to 'Debes loggearte aquí para crear un producto', new_user_session_path %></p>
<% end %>

<%= link_to 'Back', products_path, class: 'btn btn-warning' %>
